node_modules
.angular/cache/19.0.6/finalProject/vite/deps_ssr/xhr2-TXIMV6CV.js.map
.angular/cache/19.0.6/finalProject/.tsbuildinfo
.angular/cache/19.0.6/finalProject/vite/deps/_metadata.json
.angular/cache/19.0.6/finalProject/vite/deps/@angular_common_http.js
.angular/cache/19.0.6/finalProject/vite/deps/@angular_common_http.js.map
.angular/cache/19.0.6/finalProject/vite/deps/@angular_common.js
.angular/cache/19.0.6/finalProject/vite/deps/@angular_common.js.map
.angular/cache/19.0.6/finalProject/vite/deps/@angular_core.js
.angular/cache/19.0.6/finalProject/vite/deps/@angular_core.js.map
.angular/cache/19.0.6/finalProject/vite/deps/@angular_forms.js
.angular/cache/19.0.6/finalProject/vite/deps/@angular_forms.js.map
.angular/cache/19.0.6/finalProject/vite/deps/@angular_platform-browser.js
.angular/cache/19.0.6/finalProject/vite/deps/@angular_platform-browser.js.map
.angular/cache/19.0.6/finalProject/vite/deps/@angular_router.js
.angular/cache/19.0.6/finalProject/vite/deps/@angular_router.js.map
.angular/cache/19.0.6/finalProject/vite/deps/chunk-7Y7DSUSQ.js
.angular/cache/19.0.6/finalProject/vite/deps/chunk-7Y7DSUSQ.js.map
.angular/cache/19.0.6/finalProject/vite/deps/chunk-HJSLYVXA.js
.angular/cache/19.0.6/finalProject/vite/deps/chunk-HJSLYVXA.js.map
.angular/cache/19.0.6/finalProject/vite/deps/chunk-Z3GLR2YK.js
.angular/cache/19.0.6/finalProject/vite/deps/chunk-Z3GLR2YK.js.map
.angular/cache/19.0.6/finalProject/vite/deps/chunk-Z7LUGPOX.js
.angular/cache/19.0.6/finalProject/vite/deps/chunk-Z7LUGPOX.js.map
.angular/cache/19.0.6/finalProject/vite/deps/package.json
.angular/cache/19.0.6/finalProject/vite/deps_ssr/_metadata.json
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_common_http.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_common_http.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_common.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_common.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_core.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_core.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_forms.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_forms.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_platform-browser.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_platform-browser.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_platform-server.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_platform-server.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_router.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_router.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_ssr_node.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_ssr_node.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_ssr.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/@angular_ssr.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-2M2HMFBT.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-2M2HMFBT.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-3IVTDJG7.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-3IVTDJG7.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-5EZB52YK.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-5EZB52YK.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-6USQ22AV.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-6USQ22AV.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-7TTVXZSZ.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-7TTVXZSZ.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-PEAVEDUD.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-PEAVEDUD.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-SLIZ5KYQ.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-SLIZ5KYQ.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-YHCV7DAQ.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/chunk-YHCV7DAQ.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/express.js
.angular/cache/19.0.6/finalProject/vite/deps_ssr/express.js.map
.angular/cache/19.0.6/finalProject/vite/deps_ssr/package.json
.angular/cache/19.0.6/finalProject/vite/deps_ssr/xhr2-TXIMV6CV.js
