<nav>
  <ul>
    <li><a routerLink="/signin">Signin</a></li>
    <li><a routerLink="/signup">Signup</a></li>
    <li><a routerLink="/aboutus">About Us</a></li>
  </ul>
</nav>

<ul>
  <li>
    <a routerLink="/signin"
      ><img src="assets/icons/signin.png" /><label>Sign in</label></a
    >
  </li>
  <li>
    <a routerLink="/signup"
      ><img src="assets/icons/register.png" /><label>Sign Up</label></a
    >
  </li>
  <li>
    <a routerLink="/aboutus" title="About Us"
      ><img src="assets/icons/aboutus.png" /> <label>About us</label></a
    >
  </li>
</ul>
<router-outlet></router-outlet>
