div {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}
img {
  width: 35%;
}
h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

p {
  color: #dddddd;
  line-height: 1.6;
  margin-bottom: 20px;
}

label {
  color: #dddddd;
  font-size: 24px;
  cursor: pointer;
}
